                        /* BEEPER
.color{
    background-color: lightblue;
} */

                        /* SHOW ME THE MONEY

img{
    padding: 10px;
    width: 300px;
    height: 300px;
}
.oculto{
    display: none;
} */

                        /* MOUSE TRACKER

.fixed{
    position: fixed;
}

body{
    height: 100vh;
    cursor:none CURSOR INVISIBLE CON CSS
} */


                        /* MAGIC DIV

.goku{
    height: 500px;
    width: 400px;
}

.magic{
    height: 50px;
    width: 50px;
    border: 2px solid black;
}

.invisible{
    display:none
} */


                        /* SLEECCIONAR BACKGROUND

body{
    height: 100vh;
} */